In [1]:
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('../00_data/14_output/FsAMIs_0903_pop_ko.csv')
# df = pd.read_csv('../00_data/14_output/SAMIs_pop.csv')
df.loc[df['factor'] == 'gdp', 'factor'] = 'GDP'
df.loc[df['factor'] == 'mental_health_providers', 'factor'] = 'MHP'
df.loc[df['factor'] == 'DEPRESSION', 'factor'] = 'DEP'
df.loc[df['factor'] == 'noise50n', 'factor'] = 'NOI'
df.loc[df['factor'] == 'BINGE', 'factor'] = 'ED'
df.loc[df['factor'] == 'FFR20', 'factor'] = 'FFR'
df.loc[df['factor'] == 'LPA', 'factor'] = 'PI'

In [13]:
my_factors = ["DEP", "ED", "PI", "MHP", "GDP", "NOI"]

In [14]:
df_raw = pd.read_csv("../00_data/13_final/cbsa_level.csv")

data = df.merge(df_raw[['cbsacode','TotalPopulation']])[['cbsacode','factor','TotalPopulation','FsAMI']].copy()
# data = df.merge(df_raw[['cbsacode','TotalPopulation']])[['cbsacode','factor','TotalPopulation','SAMI']].copy()

In [15]:
from scipy.stats import spearmanr

results = []
for fac in my_factors:
    sub = data[data["factor"] == fac]
    if len(sub) > 1:  # need at least 2 rows
        rho, pval = spearmanr(sub["TotalPopulation"], sub["FsAMI"])
        # rho, pval = spearmanr(sub["TotalPopulation"], sub["SAMI"])
        results.append({"factor": fac, "rho": rho, "pval": pval})

results_df = pd.DataFrame(results)
print(results_df)

# results_df.to_csv('../00_data/14_output/population_rank.csv',index=False)

  factor       rho      pval
0    DEP  0.084559  0.012343
1     ED  0.021939  0.516912
2     PI -0.036146  0.285509
3    MHP  0.024484  0.469746
4    GDP -0.003248  0.923561
5    NOI  0.043754  0.196004

In [11]:
from scipy.stats import spearmanr

results = []
for fac in my_factors:
    sub = data[data["factor"] == fac]
    if len(sub) > 1:  # need at least 2 rows
        # rho, pval = spearmanr(sub["TotalPopulation"], sub["FsAMI"])
        rho, pval = spearmanr(sub["TotalPopulation"], sub["SAMI"])
        results.append({"factor": fac, "rho": rho, "pval": pval})

results_df = pd.DataFrame(results)
print(results_df)

# results_df.to_csv('../00_data/14_output/population_rank.csv',index=False)

  factor       rho      pval
0    DEP  0.068773  0.041969
1     ED -0.014580  0.666695
2     PI -0.023423  0.488955
3    MHP -0.006241  0.853811
4    GDP  0.013026  0.700396
5    NOI  0.042206  0.212304

In [6]:
data

       cbsacode           factor  TotalPopulation     FsAMI
0       10100.0               ED            42037  0.023807
1       10140.0               ED            77038  0.034397
2       10180.0               ED           179308  0.009526
3       10220.0               ED            38141 -0.095589
4       10300.0               ED            98567 -0.071233
...         ...              ...              ...       ...
25997   49660.0  Park_Area_Acres           426279 -0.655686
25998   49700.0  Park_Area_Acres           182813 -2.663308
25999   49740.0  Park_Area_Acres           207842 -3.628451
26000   49780.0  Park_Area_Acres            86113  2.830239
26001   49820.0  Park_Area_Acres            13849 -0.224850

[26002 rows x 4 columns]