In [9]:
import pandas as pd

In [10]:
df_t2010 = pd.read_csv("/Users/lidouhao/Documents/GitHub/Captone_depression/00_data/02_intermediate/tweet2010_analysis.csv")
df_t2019 = pd.read_csv("/Users/lidouhao/Documents/GitHub/Captone_depression/00_data/01_raw/twitter19_cbsa_depression_rates.csv")
df_smart = pd.read_csv("/Users/lidouhao/Documents/GitHub/Captone_depression/00_data/02_intermediate/20241025smart_with_cbsa.csv")

In [11]:
df_t2019['Year'] = 2019
df_t2019['cbsacode'] = df_t2019['cbsa'].astype(str).str[:5]
df_t2010['Year'] = 2011
df_t2010['cbsacode'] = df_t2010['cbsacode'].astype(str).str[:5]
df_smart['cbsacode'] = df_smart['cbsacode'].astype(str).str[:5]

In [15]:
df_t2019_re = df_t2019.rename(columns={"depression rate": "depression_twitter19",
"population":"CENSUS2019POP"})[['cbsacode','depression_twitter19','Year','CENSUS2019POP']]
df_t2010_re = df_t2010.rename(columns={"depression_rate": "depression_twitter10",
"user_id":"sample_size_twitter10"})[['cbsacode','depression_twitter10','sample_size_twitter10','Year','CENSUS2010POP']]

In [17]:
merge_df = df_smart.merge(df_t2019_re,how="outer").merge(df_t2010_re,how="outer")

In [18]:
merge_df

,Year,Locationabbr,Locationdesc,Response,Sample_Size,Data_value,Confidence_limit_Low,Confidence_limit_High,Display_order,Data_value_unit,...,cbsacode,metropolitandivisioncode,csacode,cbsatitle,metropolitanmicropolitanstatis,depression_twitter19,CENSUS2019POP,depression_twitter10,sample_size_twitter10,CENSUS2010POP
0,2011,10100.0,"Aberdeen, SD Micropolitan Statistical Area",Yes,88.0,16.75,11.83,21.67,50.0,%,...,10100,10100.0,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN
1,2011,10420.0,"Akron, OH Metropolitan Statistical Area",Yes,129.0,16.18,12.24,20.12,50.0,%,...,10420,10420.0,184.0,"Akron, OH",Metropolitan Statistical Area,NaN,NaN,0.205128,39.0,703200.0
2,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10500,NaN,NaN,NaN,NaN,NaN,NaN,0.266667,15.0,153857.0
3,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10580,NaN,NaN,NaN,NaN,NaN,NaN,0.041667,24.0,870716.0
4,2011,10740.0,"Albuquerque, NM Metropolitan Statistical Area",Yes,720.0,21.78,19.92,23.64,50.0,%,...,10740,10740.0,105.0,"Albuquerque, NM",Metropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1767,2022,48140.0,"Wausau-Weston, WI Metropolitan Statistical Area",Yes,129.0,25.05,20.23,29.87,2.0,%,...,48140,48140.0,554.0,"Wausau, WI",Metropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN
1768,2022,48300.0,"Wenatchee, WA Metropolitan Statistical Area",Yes,101.0,19.92,15.49,24.35,2.0,%,...,48300,48300.0,NaN,"Wenatchee-East Wenatchee, WA",Metropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN
1769,2022,48620.0,"Wichita, KS Metropolitan Statistical Area",Yes,379.0,20.64,18.23,23.05,2.0,%,...,48620,48620.0,556.0,"Wichita, KS",Metropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN
1770,2022,49340.0,"Worcester, MA-CT Metropolitan Statistical Area",Yes,435.0,22.69,19.85,25.53,2.0,%,...,49340,49340.0,148.0,"Worcester, MA",Metropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN
1771,2022,49660.0,"Youngstown-Warren-Boardman, OH-PA Metropolitan...",Yes,154.0,23.36,19.17,27.55,2.0,%,...,49660,49660.0,566.0,"Youngstown-Warren, OH",Metropolitan Statistical Area,NaN,NaN,NaN,NaN,NaN

In [19]:
merge_df.to_csv('/Users/lidouhao/Documents/GitHub/Captone_depression/00_data/02_intermediate/20241030depression.csv',index=False)