# Steps

SMART BRFSS Data Processing
- columns preprocessing
- select topic with on 'depression'
- deal with nan values for answer (1 - no%) >  yes, if applicable
- check and merge with the metropolitandivisioncode/cbsacode, maximize the match numbers

[Behavioral Risk Factors: Selected Metropolitan Area Risk Trends (SMART) MMSA Prevalence Data (2011 to Present)](https://data.cdc.gov/Behavioral-Risk-Factors/Behavioral-Risk-Factors-Selected-Metropolitan-Area/j32a-sa6u/about_data)

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
data_dir = "..\\data\\"

In [3]:
smart = pd.read_csv(f"{data_dir}Behavioral_Risk_Factors__Selected_Metropolitan_Area_Risk_Trends__SMART__MMSA_Prevalence_Data__2011_to_Present__20241004.csv")

In [4]:
smart.Topic.unique()

array(['Disability status', 'Hearing', 'Physical Activity Index',
       'HIV Test', 'Tetanus Shot', 'Cardiovascular Disease',
       'Overall Health', 'Health Care Coverage', 'Seatbelt Use',
       'Cholesterol Checked', 'Healthy Days', 'COPD', 'Asthma',
       'Veteran Status', 'PSA Test', 'Last Checkup', 'Diabetes',
       'Skin Cancer', 'Other Cancer', 'BMI Categories', 'Smoker Status',
       'Teeth Removed', 'All Teeth Removed', 'Flu Shot', 'Exercise',
       'Vegetable Consumption', 'Alcohol Consumption',
       'Fair or Poor Health', 'Kidney', 'Health Care Cost',
       'Current Smoker Status', 'Pneumonia Vaccination', 'Arthritis',
       'Blood Stool Test', 'Mammogram', 'Smokeless Tobacco', 'Depression',
       'High Blood Pressure', 'Vision', 'Binge Drinking',
       'Drink and Drive', 'USPSTF Recommendations', 'Heavy Drinking',
       'Personal Care Provider', 'Dental Visit', 'Under 65 Coverage',
       'Pap Test', 'Aerobic Activity', 'Cholesterol High',
       'Fruit Consumption', 'Strength Activity', 'Colonoscopy',
       'Sigmoidoscopy', 'Rent/Own Home', 'Internet',
       'Shingle Vaccination', 'E-Cigarette Use', 'Had CAT/CT Chest Scan'],
      dtype=object)

## Data Preprocessing

In [5]:
# filter out depression topic only
smart_depr = smart[smart.Topic == 'Depression']
smart_depr.head(2)

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,Data_value,Confidence_limit_Low,Confidence_limit_High,Display_order,Data_value_unit,Data_value_type,Data_Value_Footnote_Symbol,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,RESPONSEID,GeoLocation
200,2011,15804,"Camden, NJ Metropolitan Division",Chronic Health Indicators,Depression,Ever told you that you have a form of depression?,Yes,Overall,Overall,253,12.52,10.34,14.70,50,%,Crude Prevalence,NaN,NaN,BRFSS,CLASS03,Topic17,15804,BO1,CAT1,ADDEPEV2,RESP046,"(39.8098807, -74.8232086)"
240,2020,41700,"San Antonio-New Braunfels, TX Metropolitan Sta...",Chronic Health Indicators,Depression,Ever told you that you have a form of depression?,No,Overall,Overall,516,81.42,77.17,85.67,10,%,Crude Prevalence,NaN,NaN,BRFSS,CLASS03,TOPIC17,41700,BO1,CAT1,ADDEPEV3,RESP054,"(29.4330549, -98.6069656)"

In [6]:
smart_depr.shape

(3432, 27)

In [7]:
smart_depr.groupby('Year')['Locationdesc'].nunique()

Year
2011    198
2012    187
2013    145
2014    132
2015    130
2016    143
2017    136
2018    134
2019    136
2020    118
2021    126
2022    131
Name: Locationdesc, dtype: int64

In [8]:
smart_depr.groupby('Year')['Locationdesc'].nunique()

Year
2011    198
2012    187
2013    145
2014    132
2015    130
2016    143
2017    136
2018    134
2019    136
2020    118
2021    126
2022    131
Name: Locationdesc, dtype: int64

In [9]:
len(smart_depr.Locationdesc.unique())

270

In [10]:
smart_depr.groupby('Year').size()

Year
2011    396
2012    374
2013    290
2014    264
2015    260
2016    286
2017    272
2018    268
2019    272
2020    236
2021    252
2022    262
dtype: int64

In [11]:
# check unique values of each column
for col, values in {col: smart_depr[col].unique() for col in smart_depr.columns}.items():
    print(f"Unique values in column '{col}': {values}")

Unique values in column 'Year': [2011 2020 2019 2012 2018 2013 2014 2015 2016 2017 2021 2022]
Unique values in column 'Locationabbr': [15804 41700 41420 40860 23104 45060 10100 16300 13740 31080 42644 38900
 43580 36740 36540 10420 29180 17820 24260 33100 12940 22220 36420 41180
 16980 30700 48620 46140 16620 48864 44060 39300 41980 37964 25060 26580
 36260 41060 28140 15380 19740 38060 45780 20260 26420 17460 33340 41620
 13820 19780 18580 17140 31140 35380 33460 12260 29620 35840 39580 24860
 18140 32820 26820 40380 16740 22020 11260 19124 26900 23540 28700 25180
 24340 16700 15540 10740 36084 39340 33874 15764 17900 40900 19430 37860
 39900 12060 40484 23060 40060 38860 27260 14454 30100 41540 10580 25540
 39660 40140 31740 23224 38300 27140 40340 34820 28940 14260 12420 30780
 35004 19660 34980 33660 12580 35614 13900 25720 16860 33500 10380 35740
 13140 30860 39100 35820 31540 47894 45300 49340 41940 45820 43620 45220
 46220 49660 47664 44140 47940 47980 47260 21340 19340 35084 35154 30460
 25940 33860 13780 24020 17780 19060 22500 46540 13380 38660 31300 28300
 20764 18100 14580 29740 12100 35644 18180 40500 38180 36700 24540 12300
 35300 41860 21780 31700 20100 30300 31180 36500 11700 37764 45940 42580
 43940 40180 16940 24660 12620 41740 12740 16220 19804 22140 15940 24500
 19380 43340 42540 29940 14860 20500 33260 14484 28060 43900 15100 47644
 25860 25900 42420 31084 45104 10020 14500 33540 12700 13644 42140 30340
 27980 46340 36140 10900 25580 29340 26180 33740 25660 42044 25740 29820
 28180 21660 26380 28260 41884 28420 11244 21820 17200 25420 29060 49420
 46520 32580 22660 47220 14740 46060 26620 13620 42380 49180 35980 22180
 45860 24220 43524 41460 22900 38940 48660 40220 18880 37460 13220 20524
 43780 28660 48140 48300]
Unique values in column 'Locationdesc': ['Camden, NJ Metropolitan Division'
 'San Antonio-New Braunfels, TX Metropolitan Statistical Area'
 'Salem, OR Metropolitan Statistical Area'
 'Rutland, VT Micropolitan Statistical Area'
 'Fort Worth-Arlington, TX Metropolitan Division'
 'Syracuse, NY Metropolitan Statistical Area'
 'Aberdeen, SD Micropolitan Statistical Area'
 'Cedar Rapids, IA Metropolitan Statistical Area'
 'Billings, MT Metropolitan Statistical Area'
 'Los Angeles-Long Beach-Anaheim, CA Metropolitan Statistical Area'
 'Seattle-Bellevue-Everett, WA Metropolitan Division'
 'Portland-Vancouver-Hillsboro, OR-WA Metropolitan Statistical Area'
 'Sioux City, IA-NE-SD Metropolitan Statistical Area'
 'Orlando-Kissimmee-Sanford, FL Metropolitan Statistical Area'
 'Omaha-Council Bluffs, NE-IA Metropolitan Statistical Area'
 'Akron, OH Metropolitan Statistical Area'
 'Lafayette, LA Metropolitan Statistical Area'
 'Colorado Springs, CO Metropolitan Statistical Area'
 'Grand Island, NE Metropolitan Statistical Area'
 'Miami-Fort Lauderdale-West Palm Beach, FL Metropolitan Statistical Area'
 'Baton Rouge, LA Metropolitan Statistical Area'
 'Fayetteville-Springdale-Rogers, AR-MO Metropolitan Statistical Area'
 'Oklahoma City, OK Metropolitan Statistical Area'
 'St. Louis, MO-IL Metropolitan Statistical Area'
 'Chicago-Naperville-Elgin, IL-IN-WI Metropolitan Statistical Area'
 'Lincoln, NE Metropolitan Statistical Area'
 'Wichita, KS Metropolitan Statistical Area'
 'Tulsa, OK Metropolitan Statistical Area'
 'Charleston, WV Metropolitan Statistical Area'
 'Wilmington, DE-MD-NJ Metropolitan Division'
 'Spokane-Spokane Valley, WA Metropolitan Statistical Area'
 'Providence-Warwick, RI-MA Metropolitan Statistical Area'
 'San Juan-Carolina-Caguas, PR Metropolitan Statistical Area'
 'Philadelphia, PA Metropolitan Division'
 'Gulfport-Biloxi-Pascagoula, MS Metropolitan Statistical Area'
 'Huntington-Ashland, WV-KY-OH Metropolitan Statistical Area'
 'Ogden-Clearfield, UT Metropolitan Statistical Area'
 'St. Cloud, MN Metropolitan Statistical Area'
 'Kansas City, MO-KS Metropolitan Statistical Area'
 'Buffalo-Cheektowaga-Niagara Falls, NY Metropolitan Statistical Area'
 'Denver-Aurora-Lakewood, CO Metropolitan Statistical Area'
 'Phoenix-Mesa-Scottsdale, AZ Metropolitan Statistical Area'
 'Toledo, OH Metropolitan Statistical Area'
 'Duluth, MN-WI Metropolitan Statistical Area'
 'Houston-The Woodlands-Sugar Land, TX Metropolitan Statistical Area'
 'Cleveland-Elyria, OH Metropolitan Statistical Area'
 'Milwaukee-Waukesha-West Allis, WI Metropolitan Statistical Area'
 'Salt Lake City, UT Metropolitan Statistical Area'
 'Birmingham-Hoover, AL Metropolitan Statistical Area'
 'Des Moines-West Des Moines, IA Metropolitan Statistical Area'
 'Corpus Christi, TX Metropolitan Statistical Area'
 'Cincinnati, OH-KY-IN Metropolitan Statistical Area'
 'Louisville/Jefferson County, KY-IN Metropolitan Statistical Area'
 'New Orleans-Metairie, LA Metropolitan Statistical Area'
 'Minneapolis-St. Paul-Bloomington, MN-WI Metropolitan Statistical Area'
 'Augusta-Richmond County, GA-SC Metropolitan Statistical Area'
 'Lansing-East Lansing, MI Metropolitan Statistical Area'
 'North Port-Sarasota-Bradenton, FL Metropolitan Statistical Area'
 'Raleigh, NC Metropolitan Statistical Area'
 'Greenville-Anderson-Mauldin, SC Metropolitan Statistical Area'
 'Columbus, OH Metropolitan Statistical Area'
 'Memphis, TN-MS-AR Metropolitan Statistical Area'
 'Idaho Falls, ID Metropolitan Statistical Area'
 'Rochester, NY Metropolitan Statistical Area'
 'Charlotte-Concord-Gastonia, NC-SC Metropolitan Statistical Area'
 'Fargo, ND-MN Metropolitan Statistical Area'
 'Anchorage, AK Metropolitan Statistical Area'
 'Dallas-Plano-Irving, TX Metropolitan Division'
 'Indianapolis-Carmel-Anderson, IN Metropolitan Statistical Area'
 'Gainesville, FL Metropolitan Statistical Area'
 'Kingsport-Bristol-Bristol, TN-VA Metropolitan Statistical Area'
 'Hagerstown-Martinsburg, MD-WV Metropolitan Statistical Area'
 'Grand Rapids-Wyoming, MI Metropolitan Statistical Area'
 'Charleston-North Charleston, SC Metropolitan Statistical Area'
 'Burlington-South Burlington, VT Metropolitan Statistical Area'
 'Albuquerque, NM Metropolitan Statistical Area'
 'Oakland-Hayward-Berkeley, CA Metropolitan Division'
 'Provo-Orem, UT Metropolitan Statistical Area'
 'Montgomery County-Bucks County-Chester County, PA Metropolitan Division'
 'Cambridge-Newton-Framingham, MA Metropolitan Division'
 'Columbia, SC Metropolitan Statistical Area'
 'Sacramento--Roseville--Arden-Arcade, CA Metropolitan Statistical Area'
 'Dayton-Kettering, OH Metropolitan Statistical Area'
 'Pensacola-Ferry Pass-Brent, FL Metropolitan Statistical Area'
 'Reno, NV Metropolitan Statistical Area'
 'Atlanta-Sandy Springs-Roswell, GA Metropolitan Statistical Area'
 'Rockingham County-Strafford County, NH Metropolitan Division'
 'Fort Wayne, IN Metropolitan Statistical Area'
 'Richmond, VA Metropolitan Statistical Area'
 'Portland-South Portland, ME Metropolitan Statistical Area'
 'Jacksonville, FL Metropolitan Statistical Area'
 'Boston, MA Metropolitan Division'
 'Lebanon, NH-VT Micropolitan Statistical Area'
 'Salisbury, MD-DE Metropolitan Statistical Area'
 'Albany-Schenectady-Troy, NY Metropolitan Statistical Area'
 'Hartford-West Hartford-East Hartford, CT Metropolitan Statistical Area'
 'Rapid City, SD Metropolitan Statistical Area'
 'Riverside-San Bernardino-Ontario, CA Metropolitan Statistical Area'
 'Manhattan, KS Metropolitan Statistical Area'
 'Frederick-Gaithersburg-Rockville, MD Metropolitan Division'
 'Pittsburgh, PA Metropolitan Statistical Area'
 'Jackson, MS Metropolitan Statistical Area'
 'Rochester, MN Metropolitan Statistical Area'
 'Myrtle Beach-Conway-North Myrtle Beach, SC-NC Metropolitan Statistical Area'
 'Knoxville, TN Metropolitan Statistical Area'
 'Boise City, ID Metropolitan Statistical Area'
 'Austin-Round Rock, TX Metropolitan Statistical Area'
 'Little Rock-North Little Rock-Conway, AR Metropolitan Statistical Area'
 'Nassau County-Suffolk County, NY Metropolitan Division'
 'Deltona-Daytona Beach-Ormond Beach, FL Metropolitan Statistical Area'
 'Nashville-Davidson--Murfreesboro--Franklin, TN Metropolitan Statistical Area'
 'Mobile, AL Metropolitan Statistical Area'
 'Baltimore-Columbia-Towson, MD Metropolitan Statistical Area'
 'New York-Jersey City-White Plains, NY-NJ Metropolitan Division'
 'Bismarck, ND Metropolitan Statistical Area'
 'Heber, UT Micropolitan Statistical Area'
 'Chattanooga, TN-GA Metropolitan Statistical Area'
 'Minot, ND Micropolitan Statistical Area'
 'Aguadilla-Isabela, PR Metropolitan Statistical Area'
 'Norfolk, NE Micropolitan Statistical Area'
 'Beaumont-Port Arthur, TX Metropolitan Statistical Area'
 'Logan, UT-ID Metropolitan Statistical Area'
 'Poughkeepsie-Newburgh-Middletown, NY Metropolitan Statistical Area'
 'North Platte, NE Micropolitan Statistical Area'
 'Madison, WI Metropolitan Statistical Area'
 'Washington-Arlington-Alexandria, DC-VA-MD-WV Metropolitan Division'
 'Tampa-St. Petersburg-Clearwater, FL Metropolitan Statistical Area'
 'Worcester, MA-CT Metropolitan Statistical Area'
 'San Jose-Sunnyvale-Santa Clara, CA Metropolitan Statistical Area'
 'Topeka, KS Metropolitan Statistical Area'
 'Sioux Falls, SD Metropolitan Statistical Area'
 'Tallahassee, FL Metropolitan Statistical Area'
 'Tuscaloosa, AL Metropolitan Statistical Area'
 'Youngstown-Warren-Boardman, OH-PA Metropolitan Statistical Area'
 'Warren-Troy-Farmington Hills, MI Metropolitan Division (2012 to present)'
 'Springfield, MA Metropolitan Statistical Area'
 'Waterloo-Cedar Falls, IA Metropolitan Statistical Area'
 'Watertown, SD Micropolitan Statistical Area'
 'Virginia Beach-Norfolk-Newport News, VA-NC Metropolitan Statistical Area'
 'El Paso, TX Metropolitan Statistical Area'
 'Davenport-Moline-Rock Island, IA-IL Metropolitan Statistical Area'
 'Newark, NJ-PA Metropolitan Division'
 'New Brunswick-Lakewood, NJ Metropolitan Division'
 'Lexington-Fayette, KY Metropolitan Statistical Area'
 'Hilton Head Island-Bluffton-Beaufort, SC Metropolitan Statistical Area'
 'Montgomery, AL Metropolitan Statistical Area'
 'Binghamton, NY Metropolitan Statistical Area'
 'Glens Falls, NY Metropolitan Statistical Area'
 'College Station-Bryan, TX Metropolitan Statistical Area'
 'Cumberland, MD-WV Metropolitan Statistical Area'
 'Florence, SC Metropolitan Statistical Area'
 'Utica-Rome, NY Metropolitan Statistical Area'
 'Bellingham, WA Metropolitan Statistical Area'
 'Ponce, PR Metropolitan Statistical Area'
 'Lumberton, NC Micropolitan Statistical Area'
 'Keene, NH Micropolitan Statistical Area'
 'Edison-New Brunswick, NJ Metropolitan Division'
 'Columbus, NE Micropolitan Statistical Area'
 'Bozeman, MT Micropolitan Statistical Area'
 'Las Cruces, NM Metropolitan Statistical Area'
 'Atlantic City-Hammonton, NJ Metropolitan Statistical Area'
 'New York-White Plains-Wayne, NY-NJ Metropolitan Division'
 'Concord, NH Micropolitan Statistical Area'
 'Rockland, ME Micropolitan Statistical Area'
 'Pierre, SD Micropolitan Statistical Area'
 'Orangeburg, SC Micropolitan Statistical Area'
 'Greeley, CO Metropolitan Statistical Area'
 'Augusta-Waterville, ME Micropolitan Statistical Area'
 'New Haven-Milford, CT Metropolitan Statistical Area'
 'San Francisco-Oakland-Fremont, CA Metropolitan Statistical Area'
 'Evansville, IN-KY Metropolitan Statistical Area'
 'Manchester-Nashua, NH Metropolitan Statistical Area'
 'Dover, DE Metropolitan Statistical Area'
 'Lewiston, ID-WA Metropolitan Statistical Area'
 'Lubbock, TX Metropolitan Statistical Area'
 'Olympia-Tumwater, WA Metropolitan Statistical Area'
 'Asheville, NC Metropolitan Statistical Area'
 'Peabody, MA Metropolitan Division'
 'Trenton, NJ Metropolitan Statistical Area'
 'Seaford, DE Micropolitan Statistical Area'
 'Spearfish, SD Micropolitan Statistical Area'
 'Riverton, WY Micropolitan Statistical Area'
 'Cheyenne, WY Metropolitan Statistical Area'
 'Greensboro-High Point, NC Metropolitan Statistical Area'
 'Bangor, ME Metropolitan Statistical Area'
 'San Diego-Carlsbad, CA Metropolitan Statistical Area'
 'Barre, VT Micropolitan Statistical Area'
 'Casper, WY Metropolitan Statistical Area'
 'Detroit-Dearborn-Livonia, MI Metropolitan Division'
 'Farmington, NM Metropolitan Statistical Area'
 'Canton-Massillon, OH Metropolitan Statistical Area'
 'Great Falls, MT Metropolitan Statistical Area'
 'Dayton, OH Metropolitan Statistical Area'
 'Shreveport-Bossier City, LA Metropolitan Statistical Area'
 'Scranton--Wilkes-Barre--Hazleton, PA Metropolitan Statistical Area'
 'Lawrence, KS Metropolitan Statistical Area'
 'Bridgeport-Stamford-Norwalk, CT Metropolitan Statistical Area'
 'Durham-Chapel Hill, NC Metropolitan Statistical Area'
 'Midland, TX Metropolitan Statistical Area'
 'Boston-Quincy, MA Metropolitan Division'
 'Kalispell, MT Micropolitan Statistical Area'
 'Spartanburg, SC Metropolitan Statistical Area'
 'Brookings, SD Micropolitan Statistical Area'
 'Warren-Troy Farmington Hills, MI Metropolitan Division (2011 and prior)'
 'Hickory-Lenoir-Morganton, NC Metropolitan Statistical Area'
 'Hilo, HI Micropolitan Statistical Area'
 'Scottsbluff, NE Micropolitan Statistical Area'
 'Los Angeles-Long Beach-Glendale, CA Metropolitan Division'
 'Tacoma-Lakewood, WA Metropolitan Division'
 'Abbeville, LA Micropolitan Statistical Area'
 'Boulder, CO Metropolitan Statistical Area'
 'Missoula, MT Metropolitan Statistical Area'
 'Barnstable Town, MA Metropolitan Statistical Area'
 'Bethesda-Rockville-Frederick, MD Metropolitan Division'
 'Santa Fe, NM Metropolitan Statistical Area'
 'Lewiston-Auburn, ME Metropolitan Statistical Area'
 'Kahului-Wailuku-Lahaina, HI Metropolitan Statistical Area'
 'Tyler, TX Metropolitan Statistical Area'
 'Ocean City, NJ Metropolitan Statistical Area'
 'Allentown-Bethlehem-Easton, PA-NJ Metropolitan Statistical Area'
 'Hastings, NE Micropolitan Statistical Area'
 'Lake Charles, LA Metropolitan Statistical Area'
 'Honolulu, HI Metropolitan Statistical Area'
 'Monroe, LA Metropolitan Statistical Area'
 'Havre, MT Micropolitan Statistical Area'
 'Santa Ana-Anaheim-Irvine, CA Metropolitan Division'
 'Helena, MT Micropolitan Statistical Area'
 'Las Vegas-Henderson-Paradise, NV Metropolitan Statistical Area'
 'Kapaa, HI Micropolitan Statistical Area'
 'Eugene, OR Metropolitan Statistical Area'
 'Houma-Thibodaux, LA Metropolitan Statistical Area'
 'Kearney, NE Micropolitan Statistical Area'
 'San Francisco-Redwood City-South San Francisco, CA Metropolitan Division'
 'Kennewick-Richland, WA Metropolitan Statistical Area'
 'Los Angeles-Long Beach-Anaheim, CA Metropolitan Division'
 'Fairbanks, AK Metropolitan Statistical Area'
 'Claremont-Lebanon, NH-VT Micropolitan Statistical Area'
 'Warren-Troy Farmington Hills, MI Metropolitan Division (2012 to present)'
 'Harrisburg-Carlisle, PA Metropolitan Statistical Area'
 'Laconia, NH Micropolitan Statistical Area'
 'Yakima, WA Metropolitan Statistical Area'
 'Urban Honolulu, HI Metropolitan Statistical Area'
 'McAllen-Edinburg-Mission, TX Metropolitan Statistical Area'
 'Fort Collins, CO Metropolitan Statistical Area'
 'Vineland-Bridgeton, NJ Metropolitan Statistical Area'
 'Bremerton-Silverdale, WA Metropolitan Statistical Area'
 'Tucson, AZ Metropolitan Statistical Area'
 'Huntsville, AL Metropolitan Statistical Area'
 'Berlin, NH-VT Micropolitan Statistical Area'
 'Sayre, PA Micropolitan Statistical Area'
 'Winston-Salem, NC Metropolitan Statistical Area'
 'Norwich-New London, CT Metropolitan Statistical Area'
 'Fayetteville, NC Metropolitan Statistical Area'
 'Torrington, CT Micropolitan Statistical Area'
 'Grand Forks, ND-MN Metropolitan Statistical Area'
 'Silver Spring-Frederick-Rockville, MD Metropolitan Division'
 'Salina, KS Micropolitan Statistical Area'
 'Fort Smith, AR-OK Metropolitan Statistical Area'
 'Port St. Lucie, FL Metropolitan Statistical Area'
 'Wichita Falls, TX Metropolitan Statistical Area'
 'Roanoke, VA Metropolitan Statistical Area'
 'Crestview-Fort Walton Beach-Destin, FL Metropolitan Statistical Area'
 'Panama City, FL Metropolitan Statistical Area'
 'Beckley, WV Metropolitan Statistical Area'
 'Dutchess County-Putnam County, NY Metropolitan Division'
 'Warren-Troy-Farmington Hills, MI Metropolitan Division'
 'South Bend-Mishawaka, IN-MI Metropolitan Statistical Area'
 'Killeen-Temple, TX Metropolitan Statistical Area'
 'Wausau-Weston, WI Metropolitan Statistical Area'
 'Wenatchee, WA Metropolitan Statistical Area']
Unique values in column 'Class': ['Chronic Health Indicators']
Unique values in column 'Topic': ['Depression']
Unique values in column 'Question': ['Ever told you that you have a form of depression?']
Unique values in column 'Response': ['Yes' 'No']
Unique values in column 'Break_Out': ['Overall']
Unique values in column 'Break_Out_Category': ['Overall']
Unique values in column 'Sample_Size': [ 253  516  448 ... 1589 1552 1526]
Unique values in column 'Data_value': [12.52 81.42 75.99 ... 71.03 25.05 74.95]
Unique values in column 'Confidence_limit_Low': [10.34 77.17 71.46 ... 75.65 18.07 74.47]
Unique values in column 'Confidence_limit_High': [14.7  85.67 80.52 ... 24.35 81.93 25.53]
Unique values in column 'Display_order': [50 10 49  2 41 40 42 51 48 43 52  1]
Unique values in column 'Data_value_unit': ['%']
Unique values in column 'Data_value_type': ['Crude Prevalence']
Unique values in column 'Data_Value_Footnote_Symbol': [nan '*']
Unique values in column 'Data_Value_Footnote': [nan
 'Prevalence estimate not available if the unweighted sample size for the denominator was < 50 or the Relative Standard Error (RSE) is > 0.3 or if the state did not collect data for that calendar year.']
Unique values in column 'DataSource': ['BRFSS']
Unique values in column 'ClassId': ['CLASS03']
Unique values in column 'TopicId': ['Topic17' 'TOPIC17']
Unique values in column 'LocationID': [15804 41700 41420 40860 23104 45060 10100 16300 13740 31080 42644 38900
 43580 36740 36540 10420 29180 17820 24260 33100 12940 22220 36420 41180
 16980 30700 48620 46140 16620 48864 44060 39300 41980 37964 25060 26580
 36260 41060 28140 15380 19740 38060 45780 20260 26420 17460 33340 41620
 13820 19780 18580 17140 31140 35380 33460 12260 29620 35840 39580 24860
 18140 32820 26820 40380 16740 22020 11260 19124 26900 23540 28700 25180
 24340 16700 15540 10740 36084 39340 33874 15764 17900 40900 19430 37860
 39900 12060 40484 23060 40060 38860 27260 14454 30100 41540 10580 25540
 39660 40140 31740 23224 38300 27140 40340 34820 28940 14260 12420 30780
 35004 19660 34980 33660 12580 35614 13900 25720 16860 33500 10380 35740
 13140 30860 39100 35820 31540 47894 45300 49340 41940 45820 43620 45220
 46220 49660 47664 44140 47940 47980 47260 21340 19340 35084 35154 30460
 25940 33860 13780 24020 17780 19060 22500 46540 13380 38660 31300 28300
 20764 18100 14580 29740 12100 35644 18180 40500 38180 36700 24540 12300
 35300 41860 21780 31700 20100 30300 31180 36500 11700 37764 45940 42580
 43940 40180 16940 24660 12620 41740 12740 16220 19804 22140 15940 24500
 19380 43340 42540 29940 14860 20500 33260 14484 28060 43900 15100 47644
 25860 25900 42420 31084 45104 10020 14500 33540 12700 13644 42140 30340
 27980 46340 36140 10900 25580 29340 26180 33740 25660 42044 25740 29820
 28180 21660 26380 28260 41884 28420 11244 21820 17200 25420 29060 49420
 46520 32580 22660 47220 14740 46060 26620 13620 42380 49180 35980 22180
 45860 24220 43524 41460 22900 38940 48660 40220 18880 37460 13220 20524
 43780 28660 48140 48300]
Unique values in column 'BreakoutID': ['BO1']
Unique values in column 'BreakOutCategoryID': ['CAT1']
Unique values in column 'QuestionID': ['ADDEPEV2' 'ADDEPEV3']
Unique values in column 'RESPONSEID': ['RESP046' 'RESP054']
Unique values in column 'GeoLocation': ['(39.8098807, -74.8232086)' '(29.4330549, -98.6069656)'
 '(44.9033791, -122.9017427)' '(43.5808351, -73.0381951)'
 '(32.8073735, -97.537101)' '(43.0065163, -76.14738)'
 '(45.5194353, -98.7007003)' '(42.0855843, -91.6304636)'
 '(45.6371402, -108.5978402)' '(34.065193, -118.1827533)'
 '(47.7622016, -121.7814971)' '(45.6006149, -122.4842452)'
 '(42.5129343, -96.4389408)' '(28.4343441, -81.3558288)'

In [12]:
def process_columns(df, selected_columns_to_keep):
    """
    This function counts unique values for each column in the dataframe (ignoring case for strings),
    memorizes the columns with only 1 unique value (case insensitive), excludes the selected columns,
    and prints the remaining columns with their original unique value(s).
    
    Parameters:
    - df: DataFrame to process
    - selected_columns_to_keep: list of column names to exclude from the final results
    
    Returns:
    - A list of columns that have only 1 unique value (case insensitive) and were not selected to keep.
    """
    
    columns_with_one_unique_value = []

    for col in df.columns:
        if df[col].dtype == 'object':
            unique_values_lower = df[col].str.lower().unique()
            unique_values_original = df[col].unique()
        else:
            unique_values_lower = unique_values_original = df[col].unique()

        if len(unique_values_lower) == 1:
            columns_with_one_unique_value.append((col, unique_values_original))

    columns_with_one_unique_value = [
        (col, values) for col, values in columns_with_one_unique_value if col not in selected_columns_to_keep
    ]

    for col, unique_values in columns_with_one_unique_value:
        print(f"Column '{col}' has only 1 unique value(s): {list(unique_values)}")

    return [col for col, _ in columns_with_one_unique_value]

In [13]:
columns_to_drop = process_columns(smart_depr, ['Data_value_unit', 'Data_value_type', 'Data_Value_Footnote'])
smart_depr_selected = smart_depr.drop(columns=columns_to_drop)
smart_depr_selected.head(3)

Column 'Class' has only 1 unique value(s): ['Chronic Health Indicators']
Column 'Topic' has only 1 unique value(s): ['Depression']
Column 'Question' has only 1 unique value(s): ['Ever told you that you have a form of depression?']
Column 'Break_Out' has only 1 unique value(s): ['Overall']
Column 'Break_Out_Category' has only 1 unique value(s): ['Overall']
Column 'DataSource' has only 1 unique value(s): ['BRFSS']
Column 'ClassId' has only 1 unique value(s): ['CLASS03']
Column 'TopicId' has only 1 unique value(s): ['Topic17', 'TOPIC17']
Column 'BreakoutID' has only 1 unique value(s): ['BO1']
Column 'BreakOutCategoryID' has only 1 unique value(s): ['CAT1']

,Year,Locationabbr,Locationdesc,Response,Sample_Size,Data_value,Confidence_limit_Low,Confidence_limit_High,Display_order,Data_value_unit,Data_value_type,Data_Value_Footnote_Symbol,Data_Value_Footnote,LocationID,QuestionID,RESPONSEID,GeoLocation
200,2011,15804,"Camden, NJ Metropolitan Division",Yes,253,12.52,10.34,14.70,50,%,Crude Prevalence,NaN,NaN,15804,ADDEPEV2,RESP046,"(39.8098807, -74.8232086)"
240,2020,41700,"San Antonio-New Braunfels, TX Metropolitan Sta...",No,516,81.42,77.17,85.67,10,%,Crude Prevalence,NaN,NaN,41700,ADDEPEV3,RESP054,"(29.4330549, -98.6069656)"
256,2011,41420,"Salem, OR Metropolitan Statistical Area",No,448,75.99,71.46,80.52,50,%,Crude Prevalence,NaN,NaN,41420,ADDEPEV2,RESP054,"(44.9033791, -122.9017427)"

### Only Select Yes Answers for Depression Topic

In [14]:
# Iterate through the rows where Response is 'Yes' and Data_value is NaN
for index, row in smart_depr_selected[smart_depr_selected['Response'] == 'Yes'].iterrows():
    location = row['Locationdesc']
    year = row['Year']
    
    # Find the corresponding 'No' response for the same location and year
    no_value = smart_depr_selected[(smart_depr_selected['Locationdesc'] == location) & 
                                   (smart_depr_selected['Year'] == year) & 
                                   (smart_depr_selected['Response'] == 'No')]['Data_value'].values
    
    # If a 'No' response exists and Yes is NaN, replace Yes with 100 - No
    if len(no_value) > 0 and pd.isna(row['Data_value']):
        smart_depr_selected.at[index, 'Data_value'] = 100 - no_value[0]

smart_depr_selected_yes = smart_depr_selected[smart_depr_selected.Response == 'Yes']
print('smart_depr shape:', smart_depr.shape)
print('smart_depr_selected shape:', smart_depr_selected.shape)
print('smart_depr_selected_yes shape:', smart_depr_selected_yes.shape)
print('smart_depr_selected_yes max year:', smart_depr_selected_yes .Year.max(), 'smart_depr_selected_yes min year:', smart_depr_selected_yes .Year.min())

smart_depr shape: (3432, 27)
smart_depr_selected shape: (3432, 17)
smart_depr_selected_yes shape: (1716, 17)
smart_depr_selected_yes max year: 2022 smart_depr_selected_yes min year: 2011

In [15]:
smart_depr_selected_yes.nlargest(5, 'Data_value')

,Year,Locationabbr,Locationdesc,Response,Sample_Size,Data_value,Confidence_limit_Low,Confidence_limit_High,Display_order,Data_value_unit,Data_value_type,Data_Value_Footnote_Symbol,Data_Value_Footnote,LocationID,QuestionID,RESPONSEID,GeoLocation
188495,2022,28700,"Kingsport-Bristol-Bristol, TN-VA Metropolitan ...",Yes,183,36.85,31.19,42.51,2,%,Crude Prevalence,NaN,NaN,28700,ADDEPEV3,RESP046,"(36.6041558, -82.4401118)"
184666,2022,16860,"Chattanooga, TN-GA Metropolitan Statistical Area",Yes,176,33.28,28.30,38.26,2,%,Crude Prevalence,NaN,NaN,16860,ADDEPEV3,RESP046,"(35.0489417, -85.3611582)"
188615,2022,28940,"Knoxville, TN Metropolitan Statistical Area",Yes,188,32.23,27.60,36.86,2,%,Crude Prevalence,NaN,NaN,28940,ADDEPEV3,RESP046,"(35.9294445, -84.0154928)"
14017,2019,13740,"Billings, MT Metropolitan Statistical Area",Yes,238,31.04,27.41,34.67,2,%,Crude Prevalence,NaN,NaN,13740,ADDEPEV3,RESP046,"(45.6371402, -108.8323611)"
4719,2019,28700,"Kingsport-Bristol-Bristol, TN-VA Metropolitan ...",Yes,168,30.62,25.82,35.42,2,%,Crude Prevalence,NaN,NaN,28700,ADDEPEV3,RESP046,"(36.6041611, -82.4401446)"

In [16]:
smart_depr_selected_yes.nsmallest(5, 'Data_value')

,Year,Locationabbr,Locationdesc,Response,Sample_Size,Data_value,Confidence_limit_Low,Confidence_limit_High,Display_order,Data_value_unit,Data_value_type,Data_Value_Footnote_Symbol,Data_Value_Footnote,LocationID,QuestionID,RESPONSEID,GeoLocation
79101,2013,41940,"San Jose-Sunnyvale-Santa Clara, CA Metropolita...",Yes,66,7.77,5.52,10.02,49,%,Crude Prevalence,NaN,NaN,41940,ADDEPEV2,RESP046,"(36.9084669, -121.3713591)"
139943,2016,35004,"Nassau County-Suffolk County, NY Metropolitan ...",Yes,101,8.60,6.31,10.89,1,%,Crude Prevalence,NaN,NaN,35004,ADDEPEV2,RESP046,"(40.9057199, -72.8348299)"
58436,2011,42044,"Santa Ana-Anaheim-Irvine, CA Metropolitan Divi...",Yes,121,9.09,6.82,11.36,50,%,Crude Prevalence,NaN,NaN,42044,ADDEPEV2,RESP046,"(33.6756824, -117.7771947)"
76858,2012,11244,"Los Angeles-Long Beach-Anaheim, CA Metropolita...",Yes,113,9.20,6.93,11.47,41,%,Crude Prevalence,NaN,NaN,11244,ADDEPEV2,RESP046,"(34.065193, -118.244222)"
56755,2011,26180,"Honolulu, HI Metropolitan Statistical Area",Yes,389,9.58,8.21,10.95,50,%,Crude Prevalence,NaN,NaN,26180,ADDEPEV2,RESP046,"(27.606, -105.718)"

## Merge with fips

SMART merge with cbsa code: [cbsa-csa-fips-county-crosswalk](https://data.nber.org/cbsa-csa-fips-county-crosswalk/cbsa2fipsxw.csv)

In [17]:
smart_depr_selected_yes.head(3)

,Year,Locationabbr,Locationdesc,Response,Sample_Size,Data_value,Confidence_limit_Low,Confidence_limit_High,Display_order,Data_value_unit,Data_value_type,Data_Value_Footnote_Symbol,Data_Value_Footnote,LocationID,QuestionID,RESPONSEID,GeoLocation
200,2011,15804,"Camden, NJ Metropolitan Division",Yes,253,12.52,10.34,14.70,50,%,Crude Prevalence,NaN,NaN,15804,ADDEPEV2,RESP046,"(39.8098807, -74.8232086)"
283,2011,40860,"Rutland, VT Micropolitan Statistical Area",Yes,153,21.61,17.44,25.78,49,%,Crude Prevalence,NaN,NaN,40860,ADDEPEV2,RESP046,"(43.5808351, -73.0381951)"
328,2020,23104,"Fort Worth-Arlington, TX Metropolitan Division",Yes,120,18.22,14.61,21.83,2,%,Crude Prevalence,NaN,NaN,23104,ADDEPEV3,RESP046,"(32.8073735, -97.537101)"

In [18]:
cbsa = pd.read_csv(f"{data_dir}cbsa2fipsxw.csv")
cbsa.head(5)

,cbsacode,metropolitandivisioncode,csacode,cbsatitle,metropolitanmicropolitanstatis,metropolitandivisiontitle,csatitle,countycountyequivalent,statename,fipsstatecode,fipscountycode,centraloutlyingcounty
0,33860,NaN,388.0,"Montgomery, AL",Metropolitan Statistical Area,NaN,"Montgomery-Selma, AL",Autauga County,Alabama,1,1,Central
1,19300,NaN,380.0,"Daphne-Fairhope-Foley, AL",Metropolitan Statistical Area,NaN,"Mobile-Daphne-Fairhope, AL",Baldwin County,Alabama,1,3,Central
2,21640,NaN,NaN,"Eufaula, AL-GA",Micropolitan Statistical Area,NaN,NaN,Barbour County,Alabama,1,5,Central
3,13820,NaN,142.0,"Birmingham, AL",Metropolitan Statistical Area,NaN,"Birmingham-Cullman-Talladega, AL",Bibb County,Alabama,1,7,Outlying
4,13820,NaN,142.0,"Birmingham, AL",Metropolitan Statistical Area,NaN,"Birmingham-Cullman-Talladega, AL",Blount County,Alabama,1,9,Outlying

### Deal with NaN in metropolitandivisioncode

In [19]:
smart_depr_selected_yes.Locationdesc.nunique(), smart_depr_selected_yes.Locationabbr.nunique(), cbsa.shape

(270, 268, (1915, 12))

In [20]:
cbsa['metropolitandivisioncode'].isna().sum()

1776

In [21]:
cbsa['metropolitandivisioncode'] = cbsa['metropolitandivisioncode'].fillna(cbsa['cbsacode']) # brutal force
cbsa.head(3)

,cbsacode,metropolitandivisioncode,csacode,cbsatitle,metropolitanmicropolitanstatis,metropolitandivisiontitle,csatitle,countycountyequivalent,statename,fipsstatecode,fipscountycode,centraloutlyingcounty
0,33860,33860.0,388.0,"Montgomery, AL",Metropolitan Statistical Area,NaN,"Montgomery-Selma, AL",Autauga County,Alabama,1,1,Central
1,19300,19300.0,380.0,"Daphne-Fairhope-Foley, AL",Metropolitan Statistical Area,NaN,"Mobile-Daphne-Fairhope, AL",Baldwin County,Alabama,1,3,Central
2,21640,21640.0,NaN,"Eufaula, AL-GA",Micropolitan Statistical Area,NaN,NaN,Barbour County,Alabama,1,5,Central

In [22]:

cbsa = cbsa[["cbsacode", "metropolitandivisioncode","csacode", "cbsatitle", "metropolitanmicropolitanstatis"]]

In [23]:
smart_depr_selected_yes.shape, cbsa.shape

((1716, 17), (1915, 5))

In [24]:
smart_depr_selected_yes.Locationabbr.dtypes

dtype('int64')

In [25]:
inner_merge = pd.merge(
    smart_depr_selected_yes, cbsa,
    left_on='Locationabbr', right_on='metropolitandivisioncode',
    how='inner'
)

unmatched_rows = smart_depr_selected_yes[
    ~smart_depr_selected_yes['Locationabbr'].isin(inner_merge['Locationabbr'])
]

print("Unmatched rows after primary inner merge:")
print(len(unmatched_rows))

if not unmatched_rows.empty:
    alternative_merge = pd.merge(
        unmatched_rows, cbsa,
        left_on='Locationabbr', right_on='cbsacode', # alternative column # brutal merge
        how='inner'
    )

    final_result = pd.concat([inner_merge, alternative_merge]).drop_duplicates()
else:
    final_result = inner_merge


still_unmatched = smart_depr_selected_yes[
    ~smart_depr_selected_yes['Locationabbr'].isin(final_result['Locationabbr'])
]

print("Still-unmatched rows after both merges:")
print(len(still_unmatched))

Unmatched rows after primary inner merge:
131
Still-unmatched rows after both merges:
74

In [26]:
final_result

,Year,Locationabbr,Locationdesc,Response,Sample_Size,Data_value,Confidence_limit_Low,Confidence_limit_High,Display_order,Data_value_unit,Data_value_type,Data_Value_Footnote_Symbol,Data_Value_Footnote,LocationID,QuestionID,RESPONSEID,GeoLocation,cbsacode,metropolitandivisioncode,csacode,cbsatitle,metropolitanmicropolitanstatis
0,2011,15804,"Camden, NJ Metropolitan Division",Yes,253,12.52,10.34,14.70,50,%,Crude Prevalence,NaN,NaN,15804,ADDEPEV2,RESP046,"(39.8098807, -74.8232086)",37980,15804.0,428.0,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Metropolitan Statistical Area
3,2020,15804,"Camden, NJ Metropolitan Division",Yes,338,18.15,15.82,20.48,2,%,Crude Prevalence,NaN,NaN,15804,ADDEPEV3,RESP046,"(39.8097724, -74.8232021)",37980,15804.0,428.0,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Metropolitan Statistical Area
6,2013,15804,"Camden, NJ Metropolitan Division",Yes,346,17.91,15.58,20.24,49,%,Crude Prevalence,NaN,NaN,15804,ADDEPEV2,RESP046,"(39.8098807, -74.8232086)",37980,15804.0,428.0,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Metropolitan Statistical Area
9,2012,15804,"Camden, NJ Metropolitan Division",Yes,365,16.88,14.67,19.09,41,%,Crude Prevalence,NaN,NaN,15804,ADDEPEV2,RESP046,"(39.8098807, -74.8232086)",37980,15804.0,428.0,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Metropolitan Statistical Area
12,2014,15804,"Camden, NJ Metropolitan Division",Yes,271,14.63,12.30,16.96,42,%,Crude Prevalence,NaN,NaN,15804,ADDEPEV2,RESP046,"(39.8098807, -74.8232086)",37980,15804.0,428.0,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Metropolitan Statistical Area
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,2022,45300,"Tampa-St. Petersburg-Clearwater, FL Metropolit...",Yes,203,20.28,16.71,23.85,2,%,Crude Prevalence,NaN,NaN,45300,ADDEPEV3,RESP046,"(28.1259019, -82.4652824)",45300,45294.0,NaN,"Tampa-St. Petersburg-Clearwater, FL",Metropolitan Statistical Area
600,2022,45300,"Tampa-St. Petersburg-Clearwater, FL Metropolit...",Yes,203,20.28,16.71,23.85,2,%,Crude Prevalence,NaN,NaN,45300,ADDEPEV3,RESP046,"(28.1259019, -82.4652824)",45300,41304.0,NaN,"Tampa-St. Petersburg-Clearwater, FL",Metropolitan Statistical Area
601,2011,41860,"San Francisco-Oakland-Fremont, CA Metropolitan...",Yes,300,12.38,10.42,14.34,50,%,Crude Prevalence,NaN,NaN,41860,ADDEPEV2,RESP046,"(37.7737135, -122.2744185)",41860,36084.0,488.0,"San Francisco-Oakland-Fremont, CA",Metropolitan Statistical Area
603,2011,41860,"San Francisco-Oakland-Fremont, CA Metropolitan...",Yes,300,12.38,10.42,14.34,50,%,Crude Prevalence,NaN,NaN,41860,ADDEPEV2,RESP046,"(37.7737135, -122.2744185)",41860,42034.0,488.0,"San Francisco-Oakland-Fremont, CA",Metropolitan Statistical Area
604,2011,41860,"San Francisco-Oakland-Fremont, CA Metropolitan...",Yes,300,12.38,10.42,14.34,50,%,Crude Prevalence,NaN,NaN,41860,ADDEPEV2,RESP046,"(37.7737135, -122.2744185)",41860,41884.0,488.0,"San Francisco-Oakland-Fremont, CA",Metropolitan Statistical Area

# Save the Final CSV

In [27]:
final_result.to_csv(f"{data_dir}20241025smart_with_cbsa.csv", index=False)

# Additional url might be helpful:

https://www2.census.gov/programs-surveys/cbp/technical-documentation/reference/metro-area-geography-reference/msa_county_reference22.txt